<Directory {{ html_directory }}>
    <RequireAll>
        Require all granted
        {% for ip in blacklist.content.splitlines() %}
            {% if ip | regex_search("^([^#\\n][^\\t]+)") %}
        Require not ip {{ ip }}
            {% endif %}
        {% endfor %}
    </RequireAll>
</Directory>
